<h2 class="fs-title fadeIn">Your equipment</h2>
      <div class="blocktoPic-info">
        <p class="animated fadeIn">Whether you are a film school student, a newbie into the filmmaking world or are a professional, choosing the right filmmaking equipment is key. Which camera, DSLR or camcorder is needed for this shot? Do you need specific microphones, headphones, audio recorder, or a tripod? Specify it all here</p>
        <br>
        <%= image_tag "camerawhite.png", alt: "camera",height: 80, width: 80, class: "animated fadeIn image" %>
      </div>
