<h2 class="fs-title">Shot Angle</h2>

<div class="blocktoPic-info camera-angle">

  <p class="animated fadeIn"><strong>Eye level</strong> Camera points straight ahead to simulate a neutral perspective.</p>

  <p class="animated fadeIn"><strong>Low angle</strong> Frames the subject from a low camera height.</p>

  <p class="animated fadeIn"><strong>High angle</strong> he camera points down at your subject. It usually creates a feeling of inferiority, or “looking down” on the subject.</p>

  <p class="animated fadeIn"><strong>Dutch</strong> The camera is slanted to one side to create a sense of disorientation.</p>

  <p class="animated fadeIn"><strong>Bird's Eye</strong> The camera looks at the subject from above.</p>

  <br>
  <%= image_tag "camerawhite.png", alt: "camera",height: 80, width: 80, class: "animated fadeIn image" %>

</div>
