<h2 class="fs-title animated fadeIn">Camera Movement</h2>
      <div class="blocktoPic-info">
        <p class="animated fadeIn">A <strong>shot list</strong> is a detailed list of every camera shot that needs to be captured in a scene of a video production. Created by the director and the cinematographer during preproduction, it outlines the precise specifics of every shot—such as the camera, shot size, and shot type—so the cinematographer and assistant director know exactly what needs to be captured to tell the story visually.</p>
        <br>
        <%= image_tag "movementwhite.png", alt: "movement",height: 80, width: 80, class: "animated fadeIn image" %>
      </div>
