<h2 class="fs-title">Camera Movement</h2>

<div class="blocktoPic-info camera-movement">

  <p class="animated fadeIn"><strong>Pan</strong> Moving the camera lens to one side or another.</p>

  <p class="animated fadeIn"><strong>Tilt</strong> Moving the camera’s lens up or down while keeping its horizontal axis constant.</p>

  <p class="animated fadeIn"><strong>Zoom</strong> A shot that moves into or out of the frame without moving the camera.</p>

  <p class="animated fadeIn"><strong>Dolly</strong> Mounted on a track, the camera moved towards or away from a subject.</p>

  <p class="animated fadeIn"><strong>Truck</strong> Similar to dollying, but the motion goes from side to side.</p>

  <p class="animated fadeIn"><strong>Crane</strong> Similar to dollying and trucking, but moves up or down.</p>

  <p class="animated fadeIn"><strong>Random motion</strong> Creates energy and intensity, particularly in an action scene.</p>

  <p class="animated fadeIn">A <strong>360° motion</strong> The camera moves entirely around the subject of the shot.</p>

  <br>
  <%= image_tag "movementwhite.png", alt: "movement",height: 80, width: 80, class: "animated fadeIn image" %>
</div>
