<h2 class="fs-title animated fadeIn">Add Shots to <br/><em><%= @shotlist.title %></em></h2>
      <div class="blocktoPic-info">
       <p class="animated fadeIn">Break down how you want to capture every individual shot in the scene one-by-one. Using your knowledge of shot <strong>sizes</strong>, shot <strong>types</strong>, and <strong>camera movements</strong>, consider how you want to capture each shot and fill in this shot form accordingly.</p>
      </div>
