<h2 class="fs-title animated fadeIn">Choose Shot Size</h2>
      <div class="blocktoPic-info">
        <p class="animated fadeIn">Shot size means <strong>how much of the scene is included in the picture</strong>, and whether it mainly shows the setting, people in the setting, or details of faces and things.

  It’s important to use different shot sizes in your movie. It’s a way of spelling things out, <strong>to make sure</strong> that <strong>people see</strong> exactly the <strong>things you want them to see</strong>. If you shoot everything in long shot (head to foot) people will probably miss details and expressions which would help them understand the story.</p>
  <br>
      <%= image_tag "sizewhite.png", alt: "size",height: 80, width: 80, class: "animated fadeIn image" %>
     </div>
