<div class="fixed-bottom footer">
  <div class="taghome">
      <% ["Landscapes", "Seascapes", "Architecture", "Timelapse", "Macro"].each do |tag| %>
        <%= link_to tag, results_path(tag: tag), class: "btn-CTA" %>
    <% end %>
  </div>
  <div class="footer-copyright">
    CAMEA
  </div>
</div>
