
  <div class="search-form-control form-group search w-50">
  <h2 style="float: left; margin-bottom: 12px;">The first community of filmmakers.</h2>
    <%= form_tag results_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query], class: "form-control", placeholder: "Search by categories, city..." %>
      <%= submit_tag "Search", class: "btn btn-search slower delay-5s" %>
    <% end %>

  <div style="display: flex; margin-top: 10px;">
    <p>Popular categories:</p>
    <% @filmmakers.first(1).each do |filmmaker| %>
      <% filmmaker.interest_list.each do |tag| %>
        <%= link_to tag, results_path(tag: tag), class: "btn-tag" %>
      <% end %>
    <% end %>
  </div>

</div>






