

  <div class="search-form-control form-inline form-group align-items-center">
    <%= form_tag results_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query], class: "form-control", placeholder: "Search by categories, city..." %>
      <%= submit_tag "Find", class: "btn btn-navbar2-transparent" %>

      <% end %>
    </div>













