<%= render 'shared/banner' %>


<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque quisquam assumenda odio recusandae at suscipit excepturi fuga distinctio eveniet vitae dolores, similique consequuntur. Asperiores officiis, blanditiis magnam repellendus ad.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae distinctio harum neque quaerat facere fuga dignissimos asperiores dolorum impedit, praesentium repudiandae, iure eveniet enim, inventore deleniti nulla nisi vel.</p>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque quisquam assumenda odio recusandae at suscipit excepturi fuga distinctio eveniet vitae dolores, similique consequuntur. Asperiores officiis, blanditiis magnam repellendus ad.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae distinctio harum neque quaerat facere fuga dignissimos asperiores dolorum impedit, praesentium repudiandae, iure eveniet enim, inventore deleniti nulla nisi vel.</p>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque quisquam assumenda odio recusandae at suscipit excepturi fuga distinctio eveniet vitae dolores, similique consequuntur. Asperiores officiis, blanditiis magnam repellendus ad.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae distinctio harum neque quaerat facere fuga dignissimos asperiores dolorum impedit, praesentium repudiandae, iure eveniet enim, inventore deleniti nulla nisi vel.</p>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque quisquam assumenda odio recusandae at suscipit excepturi fuga distinctio eveniet vitae dolores, similique consequuntur. Asperiores officiis, blanditiis magnam repellendus ad.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae distinctio harum neque quaerat facere fuga dignissimos asperiores dolorum impedit, praesentium repudiandae, iure eveniet enim, inventore deleniti nulla nisi vel.</p>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque quisquam assumenda odio recusandae at suscipit excepturi fuga distinctio eveniet vitae dolores, similique consequuntur. Asperiores officiis, blanditiis magnam repellendus ad.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae distinctio harum neque quaerat facere fuga dignissimos asperiores dolorum impedit, praesentium repudiandae, iure eveniet enim, inventore deleniti nulla nisi vel.</p>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum atque quisquam assumenda odio recusandae at suscipit excepturi fuga distinctio eveniet vitae dolores, similique consequuntur. Asperiores officiis, blanditiis magnam repellendus ad.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae distinctio harum neque quaerat facere fuga dignissimos asperiores dolorum impedit, praesentium repudiandae, iure eveniet enim, inventore deleniti nulla nisi vel.</p>
