<%= render 'shared/banner' %>


<div style="background-color: white;">
    <hr>
  <div class="title">
    <h1>Our Worldwide Collaborations</h1>
  </div>

  <div class="home-collab">
    <div class="gallery" style="background-color: white;">
    <div class="panel"><img src="https://images.pexels.com/photos/610293/pexels-photo-610293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    <div class="panel bloat1"><img src="https://images.pexels.com/photos/1914828/pexels-photo-1914828.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    <div class="panel"><img src="https://images.pexels.com/photos/1051076/pexels-photo-1051076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    <div class="panel bloat2"><img src="https://images.pexels.com/photos/2961521/pexels-photo-2961521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    <div class="panel"><img src="https://images.pexels.com/photos/3317127/pexels-photo-3317127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    <div class="panel .bloat2"><img src="https://images.pexels.com/photos/2773498/pexels-photo-2773498.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" /></div>
    <div class="panel"><img src="https://images.pexels.com/photos/3560138/pexels-photo-3560138.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    <div class="panel bloat1"><img src="https://images.pexels.com/photos/2925312/pexels-photo-2925312.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    <div class="panel bloat2"><img src="https://images.pexels.com/photos/3062536/pexels-photo-3062536.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    <div class="panel"><img src="https://images.pexels.com/photos/3692639/pexels-photo-3692639.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" /></div>
    <div class="panel"><img src="https://images.pexels.com/photos/3062547/pexels-photo-3062547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    <div class="panel"><img src="https://images.pexels.com/photos/3328247/pexels-photo-3328247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" /></div>
    </div>
  </div>
</div>





