<div class="container">
  <div class="filmmakers">
    <% @filmmakers.each do |filmmaker| %>
      <%= filmmaker.first_name %> <%= filmmaker.last_name %>
      <% if filmmaker.interest_list.present?  %>
        <% filmmaker.interest_list.each do |tag| %>
          <%= link_to tag, tagged_path(tag: tag) %>
        <% end %>
    <% end %>
    <% end %>
  </div>
</div>
