<div class="blocktoPic-info animated fadeIn">

 <p class="animated fadeIn">A <strong>shot list</strong> is a detailed list of <strong>every camera
shot</strong> that needs to be captured in a scene of a video production.
Created by the director and the cinematographer during preproduction, it
outlines the precise specifics of every shot—such as <strong>the
camera</strong>, shot <strong>size</strong>, and shot <strong>type</strong> so
the cinematographer and assistant director know <strong>exactly</strong> what
needs to be captured.</p>
<p class="animated fadeIn">It determines what equipment the camera crew needs, what lighting
setups need to be created, call times for the actors, and what locations, set
pieces, and props need to be ready.</p>

</div>
