<div class="row">
  <div class="col bg-dark text-white">
<h1>La creme de la creme</h1>
<p>:) :) :) troll ;) :) :)</p>
<h1 class="text-center">Il faut reload la page pour que le js du form fomctionne, je fix ca demain</h1>
<img  height="600" src="https://project-submission.client.cremedelacreme.io/static/media/celine.1db21b0f.png" alt="creme">
</div>
<div class="col-md-8 col-md-offset-3">

<%= render 'shared/multiform' %>
</div>

</div>
