.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-huge {
  width: 120px;
  border-radius: 50%;
  object-fit: cover;

}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}


.avatar-show {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 5px solid;
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translate(-50%, -30px);
  object-fit: cover;
}


// .card-category .avatar-bordered {
//   width: 90px;
//   height: 90px;
//   border-radius: 50%;
//   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
//   border: white 4px solid;
//   position: absolute;
//   top: 328px;
// }

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
