

// header {
//   position: relative;
//   background-color: #222123;
//   height: 100vh;
//   min-height: 25rem;
//   width: 100vw;
//   overflow: hidden;
//   background-size: cover;
//   clip-path: polygon(0% 0, 100% 0%, 100% 80%, 0 100%);
// }

// header video {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: 0;
//   -ms-transform: translateX(-50%) translateY(-50%);
//   -moz-transform: translateX(-50%) translateY(-50%);
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
// }

// header .container {
//   position: relative;
//   z-index: 2;
// }

// header .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background-color: black;
//   opacity: 0.5;
//   z-index: 1;
// }

// // @media (pointer: coarse) and (hover: none) {
// //   header {
// //     background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
// //   }
// //   header video {
// //     display: none;
// //   }
// // }


// _______ banner home pag
body {
  background-color:white;

}

@font-face {
  font-family: Biko;
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

header {
  width: 100vw;
  height: 100vh;
  margin: none;
  position: relative;
}

header video {
  width: 100vw;
height:100vh;
 }

svg {
  width: 100vw;
  position:absolute;
  top: 0;
  left: 0; // needed for FF, Safari, Edge
  height: 100vh;
}

svg text {
  font-family: Biko, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 36px;
}

svg rect {
  width:100vw;
  height:100vh;
  fill: white;
}

svg > rect {
  width:100vw;
  height:100vh;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

// _____banner dashboard


.banner-index {
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4));
  background-size: cover;
  background-position: center;
  height: 50vh;
  padding-top: 15vh;
  text-align: justify;
  max-height: 700px;
  margin: auto;
  margin-bottom: 40px;
}


.banner-index h1 {
  margin: 0;
  color: white;
  font-size: 52px;
  font-weight: 700;
  font-family: 'poppins';
  margin-left: 50px;
}

.banner-index p {
  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family: 'poppins';
  margin-left: 50px;
}


