
@font-face {
  font-family: Biko;
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

header {
  width: 100vw;
  height: 100vh;
  margin: none;
  position: relative;
  background-color:black;
}

header video {
  width: 100vw;
height:100vh;
 }

svg {
  width: 100vw;
  position:absolute;
  top: 0;
  left: 0; // needed for FF, Safari, Edge
  height: 100vh;
  background: linear-gradient(transparent, #5463f6);
}

svg text {
  font-family: Biko, sans-serif;
  font-weight: 900;
  font-size: 46px;
  text-align: center;

}

svg rect {

  width:100vw;
  height:100vh;
  fill: white;
   -webkit-mask: url(#mask);
    mask: url(#mask);

}
.texttyped {
  color:#242525;
  position: relative;
  top: -280px;
  left: 140px;;
  }
  .texttyped h2 {
  font-family: 'Poppins';
  font-size: 50px;
  font-weight: 700;
  margin-left: 0vw;
}
.texttyped p {
  font-family: 'Poppins';
}
.taghome {
  position: sticky;
  bottom:8vh;
}



// _____banner dashboard


.banner-index {
  background-size: cover;
  background-position: center;
  height: 65vh;
  text-align: center;
  max-height: 700px;
  margin: auto;
  position:sticky;
  top:0;
  z-index:-2;
}


.banner-index h1 {
  margin: 0;
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.banner-index h2 {
  margin: 0;
  color: white;
  font-size: 30px;
  font-weight: 500;
}


.banner-index p {
  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family: 'poppins';
  margin-left: 50px;
}


