.btn-CTA{
  background-color: #5464f7;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 8px;
  border-radius: 3px;
  border: solid 1px #5464f7;
  box-sizing:border-box;
}

.btn-CTA:hover {
  color: #302f2f;
  background-color: transparent;
  transition: 0.5s;
  border: solid 1px black;
  text-decoration: none;
}


.btn-search {
  background: #429ea5;
  border: solid 1px #429ea5;
  font-weight:300;
  color: white;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 2px;
  height: 2.8rem;
  vertical-align:  center;
  width: 8rem;
}

.btn-search:hover {
  transition: 0.4s;
  background: transparent;
  border: solid 0.5px #6b6b6b;
  color: #6b6b6b;
}

.btn-tag {
  color: #727272;
  padding: 3px;
  background: transparent;
  border: solid 1px #727272;
  transition: background 0.3s ease;
  text-align: left;
  font-size: 12px;
  margin-right: 10px;
  height: 25px;
  border-radius: 4px;
  text-decoration: none;
}
.btn-tag:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  transition: 0.4s;
}



// page results
.btn-tag-result {
  color: #727272;
  padding: 8px;
  background: transparent;
  border: solid 1px #727272;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  text-align: center;
  font-size: 13px;
  margin-left: 20px;
  margin-right: 20px;
  height: 25px;
  border-radius: 4px;
  text-decoration: none;
}
.btn-tag-result:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  transition: 0.4s;
}


// page show user

.btn-contact {
  background-color: #242424;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: 500;
  letter-spacing: .5px;
  margin-right: 20px;
  color: white;
  border: solid 1px #242424;
}

.btn-contact:hover {
  background-color: transparent;
  color: #242424;
  text-decoration: none;
  border: solid 1px #242424;
  transition: 0.4s;
}

.btn-share {
  background-color: #ededed;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: 500;
  letter-spacing: .5px;
  margin-right: 20px;
  color: #242424;
}

.btn-share:hover {
  background-color: #242424;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}


.btn-show-list {
  background-color: #ffffff;
  color: #1d1d21 !important;
  font-weight: 440;
  font-size: 15px;
  padding-right: 55px;
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  margin-right: 23px;
  border-radius: 3px;
  border: solid 1px #f3f3f7;
  box-sizing: border-box;
}

.btn-show-list:hover {
  background-color: #5464f7;
  color: white;
  transition: 0.4s;
  border: solid 0px #f3f3f7;

}
