.chatroom {
  background-color: white;
  box-shadow: 0 0 15px rgba(189, 189, 189, 0.2);
  border-radius: 8px;
  height: calc(90vh - 66px);
  display: flex;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}
.indent-text {
  padding-left: 110px;
}
.chatroom-input {
    position: relative;
    top: 60px;
  .shotlist-dropdown {
      border: 1px solid rgba(0, 0, 0, 0);
      margin-left: 15px;
      .btn-attach {
        font-size: 16px;
        border: solid 1px;
        padding: 7px;
        border-radius: 4px;
        text-decoration: none;
        color: black;
        position: relative;
        top: 7px;
      }
      .btn-attach:hover {
        border: solid 1px;
        background-color: #5464f7;
        color: white;
        transition: 0.5s;
      }
      .shotlist-dropdown-list {
        list-style: none;
        padding: 10px 25px;
        width: 230px;
        height: auto;

        a {
          text-decoration: none;
          color: #727272;
        } a:hover {
          opacity: 0.7
        }
      }
  }
}
.new_message {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid $gray-200;

    .btn-send {
      height: 38px;
      margin-bottom: 5px;
      flex-shrink: 1;
      display: inline-block;
      margin-left: 5px;
      color: #fff;
      background-color: #5464f7;
    }

    .message_content {
    margin-bottom: 5px;
    flex-grow: 3;
    position: relative;
  }
  .attachment-input {

    margin-bottom: 5px;
    position: absolute;
    bottom: 1px;
    background-color: white;

    }
}
#messages {
  height: 80vh;
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(90vh - 66px - 65px - 71px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}




.chatroom-sidebar {
  height: calc(90vh - 66px);
  position: sticky;
  top: 0;
  min-width: 250px;
  padding: 30px;
  border-left: 1px solid $gray-200;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .sidebar-avatar {
    margin: 30px 0;
  }
}


