.chatroom {
  background-color: white;
  margin: 10px auto;
  box-shadow: 0 0 15px rgba(189, 189, 189, 0.2);
  border-radius: 8px;
  height: calc(100vh - 66px);
  display: flex;
  border-top: 1px solid $gray-200;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}

.new_message {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  border-top: 1px solid $gray-200;

    .btn-send {
      height: 38px;
      margin-bottom: 5px;
      flex-shrink: 1;
      display: inline-block;
    }

    .message_content {
    margin-bottom: 5px;
    flex-grow: 3;
  }
  .attachment-input {
  margin-bottom: 5px;
  flex-grow: 3;
  position: absolute;
  background-color: white;
    }
}
#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
  display: flex;
  flex-direction: column;
   flex-grow: 1;

}




.chatroom-sidebar {
  height: calc(100vh - 66px);
  position: sticky;
  top: 0;
  min-width: 250px;
  padding: 30px;
  border-left: 1px solid $gray-200;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .sidebar-avatar {
    margin: 30px 0;
  }
}


