

hr{
  background-color:black;
}
.baner_dash {
  width:100vw;
  height:60vh;

  background-color:white;
  color:black;
}
#idboxdash{
  background-color:white;
  color:#5464f7;
  position: absolute;
  right: 8vw;
  top:30vh;
  z-index: 3;
}
#name_user {
  position:absolute;
  top: 17vh;
  left: 22vw;
  font-size: 150px;
}
#hello {
  position:absolute;
  top: 15vh;
  left: 15vw;
  font-size: 60px;
}


.nav-tabs {
  text-align: center;

  border-bottom: 0px solid #dee2e6;
}

.dashboard h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #595857;
  font-weight: 400;
}

.dashboard p {
  font-size: 16px;
  color: #595857;
  font-weight: 300;
  line-height: 1.7em;
}

.dashboard-box {
  background-color: white;
  margin: 10px auto;
  box-shadow: 0 0 15px rgba(189, 189, 189, 0.2);
  border-radius: 8px;
  padding: 20px;
  height:32vh;
  width:26vw;
}



.dashboard-interest {
  background-color: white;
  box-shadow: 0 0 15px rgba(189, 189, 189, 0.2);
  border-radius: 8px;
  padding: 27px;
}

.dashboard-interest ul {
list-style:none;
margin-left:0;
padding-left:0;
}

.dashboard-interest li {
  margin-bottom: 65px;
  margin-top: 30px;
}

.btn-interest {
  color: #727272;
  padding: 20px;
  background: transparent;
  border: solid 1px #727272;
  transition: background 0.3s ease;
  text-align: center;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  height: 25px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
}

.btn-interest:hover {
  text-decoration: none;
  color: white;
  border: solid 0px white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.dashboard-box2 {
  background-color: white;
  margin: 10px auto;
  box-shadow: 0 0 15px rgba(189, 189, 189, 0.2);
  border-radius: 4px;
}

.dashboard-img {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;

}

.dashboard-tag {
  background-color: white;
  border-radius: 6px;
}

.avatar-dashboard {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 4px solid;
  position: absolute;
  right: 17px;
  top: 4px;
}

.container-top {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
  margin-bottom: 20px;
}

.container-dashboard {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
}

.dashboard-projet {
  background: #f5e6c8;;
  margin: 10px auto;
  box-shadow: 0 0 15px rgba(189, 189, 189, 0.2);
  border-radius: 8px;
  padding: 27px;
}
.dashdo{
  margin-left:10vw;
  height:120vh;
  width:90vw;
}
.titlesticky{

  position: -webkit-sticky;
  position:sticky;
  top:7vh;
  background-color:white;
  padding:8px;
  color:#5464f7;
  margin: none;
  z-index:2;
  h1{
    margin-left:5vw;
  }
}
.description_sticky{
  position: -webkit-sticky;
  position:sticky;
  top:16vh;
  color:black;
  margin: none;
  z-index:1;
}
.line_dashboard{
  justify-content: space-between;
}
.line2{
  visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.lineblock{
  visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.line2appear{
  visibility:visible;
}
.line2 h1, h2, h3, h4, p {
  margin-left:5vw;
}
.line2 h1{
  background-color:#5464f7;
}

// .dashboard-projet h2 {
//   color: white;
// }
// .dashboard-projet h3 {
//   color: white;
// }
// .dashboard-projet p {
//   color: white;
// }

