.nav a {
  text-decoration: none;
  color: #474747;
  font-family: 'poppins';
  margin-left: 400px;
  margin-right: 0;
}

.nav a:hover {
  text-decoration: none;
  color: #c1c1c1;
  transition-duration: 0.5s;
}

.nav-tabs {
  text-align: center;
  margin-bottom: 35px;
  border-bottom: 0px solid #dee2e6;
}


.dashboard-box {
  background-color: white;
  border: 1px white solid;
  margin: 10px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.dashboard-box {
  background-color: white;
  border: 1px white solid;
  margin: 10px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.dashboard-img {
  background-color: white;
  border: 1px white solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
