
.message-container {
  border-radius: 5px;
  padding: 12px 18px;
  margin: 20px auto;
  width: auto;
  min-width: 300px;

}

.outgoing-msg {
  margin-right: 0px;
  background-color: rgba(84, 100, 246, 0.9);
  border: none;
  color: white;
    .message-content a{
    color: white;
  }
}
.incoming-msg {
  margin-left: 0px;
  background-color: rgba(173, 181, 189, .5);
}

.author {
  span {
    font-style: normal;
    font-weight: bold;
  }

  small {
    color: $gray-500;
  }
}

