.navbar-lewagon {
  color: white !important;
  justify-content: space-between;
  background-color: white;
  transition: 0.3s background-color ease;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 3rem;
}

.navbar-light .navbar-brand {
  margin-left: 1%;
  font-size:1rem;
  font-weight: 600;
  font-size: 18px;
  color: black;
}



.navbar-nav p {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0px;
    font-size: 14px;
    font-weight: 300;
}

.navbar {
  color : #757575;
  font-weight: 300;
  height: 60px;
}

.avatar-large {
    width: 56px;
    border-radius: 50%;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link {
    padding: 0.5rem 1rem;
    display:inline;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    margin-top: 5px;
}

.nav-link {
  color: #6b6b6b;
  font-weight: 300;
  font-size: 15px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 5px;
  border-radius: 2px;
}

.nav-link:hover {
  color: black;
  transition-duration: 0.4s;
}



// buttons NAVBAR 1

.nav-link-transparent {
  color: black;
  font-weight: 400;
  font-size: 13px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 10px;
  border-radius: 3px;
  border: solid 1px black;
}

.nav-link-transparent:hover {
  background-color: #429ea5;
  color: white;
  transition: 0.5s;
  border: solid 1px #429ea5;
}


// BUTTONS NAVBAR 2
.dashboard-link {
  color: #191818;
  font-weight: 440;
  font-size: 13px;
  margin-top: 12px;
  box-sizing: border-box;
  margin-right: 8px;
  margin-left: 3px;
}
.dashboard-link:hover {
  color: #5464f7;
  transition: 0.4s;
}

.btn-navbar2{
  background-color: #5464f7;
  color: white!important;
  font-weight: 440;
  font-size: 13px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 10px;
  margin-right: 23px;
  border-radius: 3px;
  border: solid 1px #5464f7;
  box-sizing:border-box;


}
.btn-navbar2:hover {
  color: #5464f7!important;
  background-color: transparent;
  transition: 0.5s;
  border: solid 1px #5464f7;
  transition: 0.5s;
  text-decoration: none;
}


.btn-navbar2-transparent {
  color: black;
  font-weight: 440;
  font-size: 13px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 10px;
  margin-right: 23px;
  border-radius: 3px;
  border: solid 1px black;
  box-sizing:border-box;
}

.btn-navbar2-transparent:hover {
  background-color: #5464f7;
  color: white;
  transition: 0.5s;
  border: solid 1px #5464f7;
}


//icon

.nav-icon {
  color: black;
  margin: 1em;
  position: relative;
}

.nav-icon:hover {
  color: #5464f7;
  transition: 0.5s;
}

.nav2-icon {
  color: #eaebf2;
  margin: 0.8em;
}

.nav2-icon:hover {
  color: #5464f7;
  transition: 0.5s;
}
.navbar-brand:hover {
  color:#5464f7!important;
}


#user-channel {
  margin-right: 8px;
}


#notif-counter {
  color: black;
  position: relative;
  .msg-number {
    position: absolute;
    background: red;
    border-radius: 50%;
    width: 15px;
    height: 15PX;
    line-height: 1;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 1.3;
    top: 7px;
    left: 9px;
  }
}


// JS
// .navbar-lewagon-white {
//   background-color: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   &.navbar-light .navbar-brand {
//     color: black;
//   }
// }
