.header-portfolio {
  width: 100%;
  display: block;
  background-color: #bad0b8;
  background-image: -webkit-linear-gradient(right, #312fab, #331133);
  background-image: -moz-linear-gradient(right, #312fab, #331133);
  background-image: -o-linear-gradient(right, #312fab, #331133);
  background-image: -ms-linear-gradient(right, #312fab, #331133);
  background-image: linear-gradient(right, #312fab, #331133);
}

.contact {
  margin-top: 25px;
  display: flex;
}

.portfolio-img {
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.inner-content {
  position: relative;
  width: 95%;
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  position: relative;
  top: 10vh;
}

.container-portfolio{
  background-color: white;
  border-radius: 8px;
  box-shadow: -4px 1px 20px rgba(150, 149, 149, 0.2);
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 10px;
  padding: 40px;
}

.container-interest {
  background-color: white;
  border-radius: 8px;
  box-shadow: -4px 1px 20px rgba(150, 149, 149, 0.2);
  margin-top: 30px;
  padding: 40px;
  margin: 23px;
}


.collab {
  background-color: white;
  text-align: left;
  margin: 20px;
  padding: 20px;
}
