.container-portfolio {
  padding: 40px;
  background-size: cover;
  background: linear-gradient(75deg,#22263D 0,#342441 25%,#342441 80%,#22263D 100%);
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-details {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  width: 50%;
  margin: auto;
}

.container-details h2 {
  color: #444444;
}

.container-details p {
  color: #6d6c6d;
}


.experience {
  background-color: #5464f7;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 7px;
  padding-bottom: 3px;
  color: white;
  border-radius: 5px;
}

.container-photo {
  margin: auto;
}

.name {
  background-color: white;
  position: absolute;
  right: 211px;
  top: 324px;
  padding: 20px
}

.container-description {
  background-color: white;
  padding: 42px;
  border-radius: 8px;
  box-shadow: 7px 13px 5px #ececec;
  margin: 20px;
}

.collab {
  background-color: white;
  text-align: left;
  margin: 20px;
  padding: 20px;
}
