
.navbarsticky-result{
  position:sticky;
  top:7.8vh;
  z-index:1;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#no-match{
  background-color:white;
  height:100vh;
  width: 100vw;
}
