.container-form {
  padding: 21px;
  padding-top: 60px;
  padding-bottom: 60px;
  border: solid #b8b8ba 1px;
  width: 400px;
  margin: auto;
  border-radius: 8px;
  background-color: white;
  height: 500px;
}

.center {
  text-align: center;
}
