body {
  background-color: #f7f7f7;
  font-family: 'Poppins';
<<<<<<< HEAD
  background-color:white;
=======
  // background-color:black;
>>>>>>> 387e29bafb6b8273836d83df7c1785ddaa359258
  color:black;
}


h1 {
  font-family: 'Poppins';
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-family: 'Poppins';
}

.title {
  padding: 40px;
  text-align: center;
}

.center {
  text-align: center;
}
.btn {
  font-family: 'Poppins';
}

p {
  font-family: 'Quicksand';
}

li {
  font-family: 'Quicksand';
  list-style-type: none;
}
