body {
  font-family: 'Poppins';

  background-color:white;

  color:black;
}


h1 {
  font-family: 'Poppins';
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-family: 'Poppins';
}

.title {
  padding: 40px;
  text-align: center;
}

.center {
  text-align: center;
}
.btn {
  font-family: 'Poppins';
}

p {
  font-family: 'Quicksand';
}

li {
  font-family: 'Quicksand';
  list-style-type: none;
}
