

// MODAL



.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}



// MOSAIC


.mosaic {
  text-align: center;
  margin: 16px auto;
  margin-top: 50px;
}

iframe {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  margin-bottom: 10px;
}

.poster {
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
}


.group {
  height: 250px;
  position: relative;
  width: 450px;
}

.hidden-poster {
  opacity: 0;
  background-image: grey;
  transition: all 1.5s ease;
}


